*{
	margin: 0;
	padding: 0;
}

body {
    background: black;
}

header {
	border: 1px solid #787474;
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: darken;
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	/*border: 2px solid red;*/
}

.left:hover {
	cursor: pointer;
}

.left img {
	width: 120px;
	filter: invert(100%);
}

.left div {
	position: relative;
	top: -10px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
    color: white;
}

.mid {
	align-self: center;
	/* border: 2px solid green; */
}

.right {
	align-self: center;
	/*border: 2px solid yellow;*/
}

.navbar {
	display: flex;
	justify-content: center;
	/* border: 1px solid #e5e2e2; */
}

.navbar li {
	/* border: 1px solid #e5e2e2; */
	/* display: inline-block; */
	align-self: center;
	text-align: center;
	list-style: none;
	font-size: 23px;
}

.navbar li a {
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 10px 50px;
}

.navbar li a:hover,
.navbar li a.active {
	/* text-decoration: underline; */
	color: gray;
}

.btn {
	/*border: 2px solid gray;*/
	border: none;
	background-color: rgb(30, 30, 30);
	color: white;
	cursor: pointer;
	border-radius: 8px;
	font-family: "Baloo Bhaina 2", cursive;
	font-size: 20px;
	/* margin: 20px auto; */
	/* margin: 0px 9px; */
	/* padding: 4px 14px; */
	width: 120px;
}

button:hover {
	background-color: rgb(213, 211, 211);
	color: black;
}

.container {
    color: white;
}

.box {
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
    backdrop-filter: blur(5px);
}

.gallary {
    margin: auto;
    border: 1px solid #ccc;
    float: left;
}

.gallary img {
    width: 500px;
    height: auto;
}

.container h1 {
    text-align: center;
	margin: 50px;
    font-family: 'Baloo Bhaina 2', cursive;
}
